.header
    display: flex
    background-image: url(../img/about.jpg) 
    height: 400px  

.background
    background: rgba(0, 0, 0, 0.5)
    display: flex
    height: 400px
    width: 100%
    padding-top: 188px
    &__text
        font-family: 'Raleway', sans-serif
        font-style: normal
        font-weight: 800
        font-size: 72px
        line-height: 125%
        color: #FFFFFF
        margin: 0 auto
