*,
*::before,
*::after {
    box-sizing: border-box;
}


ul[class],
ol[class] {
    padding: 0;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


body {
    
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


ul[class],
ol[class] {
    list-style: none;
}


a:not([class]) {
    text-decoration: none;
}


img {
    max-width: 100%;
    display: block;
}


article>*+* {
    margin-top: 1em;
}


input,
button,
textarea,
select {
    font: inherit;
}
.header {
  display: flex;
  background-image: url(88879dfbcccdb81b0a35d606693671fc.jpg);
  height: 400px; }

.background {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 400px;
  width: 100%;
  padding-top: 188px; }
  .background__text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 125%;
    color: #FFFFFF;
    margin: 0 auto; }

.help {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; }
  .help__text {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 60px 0 16px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 36px;
    color: #000000; }
  .help__subtext {
    padding-bottom: 30px;
    margin: 0 391px 0 392px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 200%;
    color: #000000; }
    .help__subtext:last-child {
      padding-bottom: 0; }

.type {
  display: flex;
  flex-direction: column;
  padding: 80px 0 30px; }
  .type__text {
    padding-bottom: 30px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    color: #000000; }
  .type__form {
    margin: 0 auto; }

.form {
  width: 784px;
  height: 275px;
  background: #FFFFFF;
  box-shadow: 8px 15px 20px rgba(0, 0, 0, 0.35);
  border-radius: 5px; }
  .form__button {
    margin: 0 auto;
    width: 673px;
    height: 48px;
    background: linear-gradient(180deg, #0C89CF 0%, #4FACFE 100%);
    border-radius: 25px; }
    .form__button a {
      display: flex;
      height: 48px;
      justify-content: center;
      align-items: center;
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF; }
  .form__little {
    margin-top: 15px;
    background: url(0b3eeb272b576314bd0adb8b3d2a5096.png) left no-repeat;
    padding-left: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #ADAAAA;
    margin-bottom: -10px; }
  .form__link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #ADAAAA; }

.border {
  margin-left: 67px; }

.input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin: 0 55px;
  padding: 58px 0 22px; }
  .input input {
    color: #02679E;
    padding-left: 16px; }
    .input input::placeholder {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #02679E; }
  .input__name {
    width: 327px;
    height: 48px;
    border: none;
    box-shadow: 2.5px 3.2px 9px rgba(0, 0, 0, 0.35); }
  .input__email {
    width: 326px;
    height: 48px;
    border: none;
    box-shadow: 2.5px 3.2px 9px rgba(0, 0, 0, 0.35); }

@media screen and (max-width: 1500px) {
  .command {
    width: 100% !important; }
  .our {
    width: 61%;
    margin: 0 auto; }
  .our-team {
    flex: 0 0 80% !important; }
    .our-team:last-of-type {
      margin: 0 !important; } }

@media screen and (max-width: 1356px) {
  .wrapper {
    margin: 0 20px; }
  .background__text {
    font-size: 50px; }
  .help__subtext {
    margin: 0; }
  .form {
    width: 100%;
    height: 300px; }
    .form__button {
      text-align: center;
      width: 60%;
      height: auto; }
  .input {
    justify-content: center; }
    .input__name {
      border: 1px solid grey; }
    .input__email {
      border: 1px solid grey; } }

@media screen and (max-width: 1132px) {
  .our {
    width: 90%; }
  .team {
    flex: 0 0 100% !important;
    text-align: center; }
  .our-team {
    flex: 0 0 100% !important; }
    .our-team__img {
      flex: 0 0 100% !important;
      padding-left: 0 !important;
      background-position: center !important; } }

.command {
  width: 1134px;
  margin: 0 auto; }
  .command__title {
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    text-align: center; }

.our {
  display: flex;
  flex-wrap: wrap; }

.our-team {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 50%; }
  .our-team__img {
    flex: 0 0 20%;
    height: 100px;
    padding-left: 116px; }
  .our-team:nth-child(1) .our-team__img {
    background: url(44b2dc5e0b82a9935669776982f46435.png) left no-repeat; }
  .our-team:nth-child(1) .social__facebook {
    background-image: url(abf6d41a2ad3d4faff78ff1ea7626d0d.png); }
  .our-team:nth-child(1) .social__linkedin {
    background-image: url(a3ad9e83030934e91dcd883b76212433.png); }
  .our-team:nth-child(1) .social__snob {
    background-image: url(301577f48712bac50f4cef5bc5b8d14c.png); }
  .our-team:nth-child(2) .our-team__img {
    background: url(5a6f3e5c47129674e0dd523de5cd8e8f.png) left no-repeat; }
  .our-team:nth-child(2) .social__facebook {
    background-image: url(abf6d41a2ad3d4faff78ff1ea7626d0d.png); }
  .our-team:nth-child(2) .social__linkedin {
    background-image: url(a3ad9e83030934e91dcd883b76212433.png); }
  .our-team:nth-child(2) .social__snob {
    background-image: url(301577f48712bac50f4cef5bc5b8d14c.png); }
  .our-team:nth-child(3) .our-team__img {
    background: url(5451658e7dc19e53277cd203416c6b6c.png) left no-repeat; }
  .our-team:nth-child(3) .social__facebook {
    background-image: url(abf6d41a2ad3d4faff78ff1ea7626d0d.png); }
  .our-team:nth-child(4) .our-team__img {
    background: url(28ca89d6d9604f87b426d07cf7dca5cf.png) left no-repeat; }
  .our-team:nth-child(4) .social__instagram {
    background-image: url(c39e45665343cae8fb77771efc7ac5fb.png); }
  .our-team:nth-child(4) .social__twitter {
    background-image: url(7e9b8931c3a776fa13f4b8548db9461b.png); }
  .our-team:nth-child(4) .social__facebook {
    background-image: url(abf6d41a2ad3d4faff78ff1ea7626d0d.png); }
  .our-team:nth-child(4) .social__linkedin {
    background-image: url(a3ad9e83030934e91dcd883b76212433.png); }
  .our-team:nth-child(4) .social__snob {
    background-image: url(301577f48712bac50f4cef5bc5b8d14c.png); }
  .our-team:nth-child(5) .our-team__img {
    background: url(7777745580b490414d62321d7b25b0b5.png) left no-repeat; }
  .our-team:nth-child(5) .social__facebook {
    background-image: url(abf6d41a2ad3d4faff78ff1ea7626d0d.png); }
  .our-team:nth-child(5) .social__linkedin {
    background-image: url(a3ad9e83030934e91dcd883b76212433.png); }
  .our-team:nth-child(6) .our-team__img {
    background: url(0e2dddc18159848504e7850da454f7fa.png) left no-repeat; }
  .our-team:nth-child(6) .social__facebook {
    background-image: url(abf6d41a2ad3d4faff78ff1ea7626d0d.png); }
  .our-team:nth-child(6) .social__linkedin {
    background-image: url(a3ad9e83030934e91dcd883b76212433.png); }
  .our-team:nth-child(7) .our-team__img {
    background: url(7ed1239922f91f90eef5f34c93059124.png) left no-repeat; }
  .our-team:nth-child(7) .social__facebook {
    background-image: url(abf6d41a2ad3d4faff78ff1ea7626d0d.png); }
  .our-team:nth-child(7) .social__linkedin {
    background-image: url(a3ad9e83030934e91dcd883b76212433.png); }
  .our-team:nth-child(8) .our-team__img {
    background: url(f648974e627f050d7ff3b198fc49d5ed.png) left no-repeat; }
  .our-team:nth-child(8) .social__facebook {
    background-image: url(abf6d41a2ad3d4faff78ff1ea7626d0d.png); }
  .our-team:nth-child(8) .social__linkedin {
    background-image: url(a3ad9e83030934e91dcd883b76212433.png); }
  .our-team:nth-child(8) .social__snob {
    background-image: url(301577f48712bac50f4cef5bc5b8d14c.png); }
  .our-team:nth-child(9) .our-team__img {
    background: url(bf97af68e3aa1f7dbabc4cf22caa2e88.png) left no-repeat; }
  .our-team:nth-child(9) .social__facebook {
    background-image: url(abf6d41a2ad3d4faff78ff1ea7626d0d.png); }
  .our-team:nth-child(9) .social__linkedin {
    background-image: url(a3ad9e83030934e91dcd883b76212433.png); }
  .our-team:nth-child(9) .social__snob {
    background-image: url(301577f48712bac50f4cef5bc5b8d14c.png); }
  .our-team:nth-child(10) .our-team__img {
    background: url(976b73462b3ce26e694ca868d473f5a9.png) left no-repeat; }
  .our-team:last-of-type {
    margin: 0 auto; }
    .our-team:last-of-type .our-team__img {
      background: url(49561829ebd2e386dc9adc935d7ca600.png) left no-repeat; }

.team {
  flex: 0 0 79%; }
  .team p:first-of-type {
    margin-bottom: 15px; }
  .team p:last-of-type {
    margin-bottom: 16px; }
  .team__name {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    color: #000000; }
  .team__position {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 2px;
    color: #0083CA; }
  .team__more {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 2px;
    color: #0083CA; }

.social {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 16px 0 32px 0; }
  .social__instagram {
    width: 32px;
    height: 32px;
    margin: 0 4px 0 4px; }
  .social__twitter {
    width: 32px;
    height: 32px;
    margin: 0 4px 0 4px; }
  .social__facebook {
    width: 32px;
    height: 32px;
    margin: 0 4px 0 4px; }
  .social__linkedin {
    width: 32px;
    height: 32px;
    margin: 0 4px 0 4px; }
  .social__snob {
    width: 32px;
    height: 32px;
    margin: 0 4px 0 4px; }

@font-face {
    font-family: 'Roboto';
    src: url(03523cf578d69fa923226ff457b92d90.ttf) format('true-type');
}
@font-face {
    font-family: 'Releway';
    src: url(ac7bcb8a0f4abc1d6591019579a44ebd.ttf) format('true-type');
}

/*# sourceMappingURL=main.css.map*/